body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.header-area {
    background-image: url(images/UN0642170.JPG);
    min-height: 700px;
    overflow: hidden;
}
.container {
    width: 70%;
    margin: auto;
}
.top-banner {
    margin-top: 200px;
    text-align: center;
}
.top-banner h1 {
    text-align: center;
    color: #3498db;
    font-weight: 600;
    font-size: 50px;
    margin: 0;
}
.top-banner p {
    text-align: center;
    font-size: 18px;
    color: #ffffff;
}
.top-link {
    margin-top: 50px;
    display: inline-block;
}
a {
    color: #ffffff;
    background-color: #f26a21;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 70px;
    border-radius: 50px;
    text-align: center;
    display: inline-block; 
}
/** Donate Today **/
.donate-today {
    text-align: center;
    margin-bottom: 50px;
}
.donate-text {
    text-align: center;
}
.donate-text h2 {
    font-size: 40px;
}
.donate-text p {
    font-size: 18px;
}
.ammout {
    display: flex;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}
.ammout h2 {
    margin-left: 10%;
}
.ammout h2:nth-child(2) {
    color: tomato;
    border: 2px solid tomato;
    background-color: #ffcccc;
    box-sizing: border-box;
    padding: 10px 20px;
}
.other-ammount {
    text-align: center;
    padding: 10px;
}
.other-ammount input {
    padding: 10px 40px;
    font-size: 18px;  
}
.donate-last-link:hover {
    background-color: #3498db;
}

/** Donate Plan Area **/
.donate-plan-text {
    text-align: center;
}
.donate-plan-text h2 {
    font-size: 40px;
}
.flexible-container {
    display: flex;
    margin: 30px 0;
}
.left-area {
    background-color: #f7f1e3;
    width: 30%;
    margin: 0 1.5%;
    padding: 10px;
    border-radius: 10px;
}
.middle-area {
    background-color: #c8d6e5;
    width: 30%;
    margin: 0 1.5%;
    padding: 10px;
    border-radius: 10px;
}
.right-area {
    background-color: #f8c291;
    width: 30%;
    margin: 0 1.5%;
    padding: 10px;
    border-radius: 10px;
}
/** Lives-depend area **/
.live-depend {
    margin: 50px 0;
}
.flexible {
    display: flex;
}
.half-width {
    width: 50%;
    margin-left: 20px;
}
.half-width h2 {
    font-size: 40px;
}
.half-width img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}
/** update-area **/
.update {
    margin: 50px 0;
}
.top-text {
    text-align: center;
}
.top-text h2 {
    font-size: 40px;
}
.top-text p {
    font-size: 18px;
}
.bottom-mail {
    background-color: #ffeaa7;
    text-align: center;
    padding: 40px 0;
    display: flex;
}
.mail {
    width: 100%;
    margin: auto;
}
.mail input[type=email] {
    background-color: #b2bec3;
    padding: 10px 40px;
    border: none;
    font-size: 18px;
    border-radius: 10px;
}
.mail input[type=submit] {
    background-color: tomato;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border: none;
    font-size: 18px;
    border-radius: 10px;
}
/**footer-area added**/
.footer-area {
    text-align: center;
    background-color: black;
    color: #ffffff;
    padding: 10px 0;
}
.footer-area h2 {
    font-size: 40px;
    margin: 0;
}
.footer-area p {
    font-size: 18px;
    margin: 0;
}